/* milieu de page  */

.Accueil-background-image {
    background: url(/images/accueil.png);
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Programme */

.section-titre {
    text-align: center;
    margin: 15px 0;
    color: #7e5837f1;
    cursor: pointer;
}

.section-titre a {
    color: #7e5837f1;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

.section-titre h2{
    font-size: 4em;
}

.all-programme {
    display: flex;
    justify-content: center; /* alignement horizontal */
    gap: 100px;
    flex-wrap: wrap;
}

.programme {
    max-width: 300px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: calc(50% - 20px);

}

@media (max-width: 600px) {
    .programme {
        width: 100%;
    }
}

.programme-image {
    width: 100%;
    display: block;
    height: auto;
}

.programme-titre {
    padding: 15px;
    background-color: #7e5837f1;
    text-align: center;
}

.programme-titre h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.programme-temps {
    text-align: left;
}

.programme-prix {
    text-align: left;
    margin: 10px 0;
}

.bouton-rejoindre {
    background-color: #02282e;
    color: #7e5837f1;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.bouton-rejoindre:hover {
    background-color: #e2e2e2;
}

/* Présentation */

.section-présentation h3 {
    margin-left: 120px;
    text-align: left;
    margin-bottom: 20px;
    color: #7e5837f1;
    font-size: 2em;
}

.section-présentation p {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.6;
    color: #7e5837f1 ;
    font-size: 1.25em;
}

@media screen and (max-width: 1100px) {
  .section-titre h2 {
    font-size: 3em;
}
.section-présentation h3 {
  margin-left: 0px;
  text-align: center;
  margin-bottom: 20px;
  color: #7e5837f1;
  font-size: 1.5em;
}
.section-présentation p {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 20px;
  margin-bottom: 15px;
  text-align: justify;
  line-height: 1.6;
  color: #7e5837f1;
  font-size: 1em;
  text-align: center;
}
}
