<header class="header">

  <div class="header-left">
    <img src="assets/images/logo-bodystart.png" alt="logo-bodystart" class="logo-bs">
  </div>

  <div class="header-center">
    <div class="logo-text">
      <a href="index.html">Bodystart</a>
    </div>
    <nav class="nav">
      <ul>
        <li class="nav-item"><a routerLink="" class="nav-link">Accueil</a></li>
        <li class="nav-item"><a routerLink="/admin/exercises" routerLinkActive="active" class="nav-link">Exercice</a></li>
        <li class="nav-item"><a routerLink="" class="nav-link">Qui suis-je ?</a></li>
        <li class="nav-item"><a routerLink="" class="nav-link">Programmes</a></li>
        <li class="nav-item"><a routerLink="" class="nav-link">Abonnement</a></li>
        <li class="nav-item"><a routerLink="" class="nav-link">Transformations</a></li>
        <li class="nav-item"><a routerLink="" class="nav-link">Vos suggestions</a></li>
        <li class="nav-item"><a routerLink="" class="nav-link">Membres (coach)</a></li>
      </ul>
    </nav>
  </div>
</header>
